
@mixin border{
  border: 1px solid rgb(0, 0, 0);
}

.title{
max-width: 1200px;
margin: 30px auto 60px;

a{
  color: inherit;
  //text-decoration: inherit;
}
}

.search-container{
@include border;
max-width: 700px;
height: 130px;
margin: 30px auto 0;

h2{
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
}

.search-container__form{
  //width: 100%;
  margin: 20px auto 0;
  text-align: center;

  .text{
    width: 300px;
  }
}

select{
  margin: 0 10px;
  width: 200px;
}
}

.list-container{
max-width: 1200px;
margin: 30px auto 0;

.create-btn{
  border-radius: 10px;
  background-color: rgb(16, 242, 220);
  width: 100px;
  height: 50px;
}

.item-list{
  margin-top: 20px;

  .item-list__table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: center;

    .item-list__table--id{
      width: 7%;
    }
    .item-list__table--image{
      width: 11%;
    }
    .item-list__table--name{
      width: 35%;
    }
    .item-list__table--price{
      width: 7%
    }
    .item-list__table--stock{
      width: 7%
    }
    .item-list__comment{
      display: none;
    }
    .item-list__table--btn{
      width: 9%;
      //font-size: 11px;
    }
    
    th{
      @include border;
      width: max-content;
      color: rgb(0, 166, 255);
    }
    td{
      @include border;
      height: 70px;

      img{
        max-width: 100%;
        width: auto;
      }

      .delBtn,.infoBtn{
        width: 75%;
        font-size: 11px;
        padding: 1px 6px;
        margin-bottom: 2px;
        border: solid buttonborder 2px;
        table-layout: fixed;
        border-radius: 10px;
      }

    }
  }
}
}

.detail-modal,.edit-modal{
.modal-body{
  text-align: left;//labelとinputを左揃え
  margin: 20px 0 20px 15px;//中央表示
  padding: 0;
  //width: 70%;
  //float: left;

  .left-item,.right-item{
    margin: 0px 30px 10px 0;
    margin-right: 30px;
    //display: inline-block;
    vertical-align:top;
    width: 200px;
    float: left;

    /*.right-item{
      margin-left: 15px;
    }*/

    /*.item-ditail{
      p{
        border: solid 1px;
      }
    }*/

    .item-ditail, .item-edit{
      margin: 15px 0;
      //text-align: center;
    }

    .image-ditail,.image-edit{
      //margin-bottom: 105px;
      width: 100%;
      //text-align: center;
    }
  }
  
  input{
    width: 100%;
  }

  select{
    width: 100%;
  }

  textarea{
    height: 150px;
    width: 230px;
  }

  #updateBtn{
    //text-align: center;
    width: 20%;
    display: block;
    margin: 0 auto;
  }
}
}

/*.modal2{

}*/